apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homepage
  namespace: homepage
  labels:
    app.kubernetes.io/name: homepage
  annotations:
    # external dns
    external-dns.alpha.kubernetes.io/target: "traefik-lb.homelab.eeternalsadness.dev"
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`homelab.eeternalsadness.dev`)
      services:
        - name: homepage
          kind: Service
          port: 3000
  tls:
    secretName: homepage-tls
