# https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

defaultRules:
  create: true
  # 85 recording rules
  #rules:
  #  alertmanager: false
  #  etcd: false
  #  configReloaders: false
  #  general: false
  #  k8sContainerCpuUsageSecondsTotal: true
  #  k8sContainerMemoryCache: true
  #  k8sContainerMemoryRss: true
  #  k8sContainerMemorySwap: true
  #  k8sContainerResource: true
  #  k8sContainerMemoryWorkingSetBytes: true
  #  k8sPodOwner: true
  #  kubeApiserverAvailability: true
  #  kubeApiserverBurnrate: true
  #  kubeApiserverHistogram: true
  #  kubeApiserverSlos: false
  #  kubeControllerManager: false
  #  kubelet: false
  #  kubeProxy: false
  #  kubePrometheusGeneral: true
  #  kubePrometheusNodeRecording: true
  #  kubernetesApps: false
  #  kubernetesResources: false
  #  kubernetesStorage: false
  #  kubernetesSystem: false
  #  kubeSchedulerAlerting: false
  #  kubeSchedulerRecording: true
  #  kubeStateMetrics: false
  #  network: false
  #  node: true
  #  nodeExporterAlerting: true
  #  nodeExporterRecording: true
  #  prometheus: false
  #  prometheusOperator: false

kubeEtcd:
  enabled: true

  # talos doesn't run etcd as pods
  endpoints:
    - 192.168.0.70
    - 192.168.0.71
    - 192.168.0.72

  service:
    enabled: true
    port: 2381
    targetPort: 2381

  ## Configure secure access to the etcd cluster by loading a secret into prometheus and
  ## specifying security configuration below. For example, with a secret named etcd-client-cert
  ##
  ## serviceMonitor:
  ##   scheme: https
  ##   insecureSkipVerify: false
  ##   serverName: localhost
  ##   caFile: /etc/prometheus/secrets/etcd-client-cert/etcd-ca
  ##   certFile: /etc/prometheus/secrets/etcd-client-cert/etcd-client
  ##   keyFile: /etc/prometheus/secrets/etcd-client-cert/etcd-client-key
