# https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml

grafana:
  enabled: true

  defaultDashboardsEnabled: true
  defaultDashboardsTimezone: Asia/Singapore

  # configure admin credentials from existing secret
  admin:
    existingSecret: "grafana-admin"
    userKey: username
    passwordKey: password

  ingress:
    enabled: false

  grafana.ini:
    server:
      # NOTE: used for redirects (e.g. OIDC)
      root_url: https://grafana.homelab.eeternalsadness.dev

  resources: {}

  persistence:
    enabled: false
