provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token-secret
        key: api-token

# limit to specific cloudflare zones
domainFilters:
  - eeternalsadness.dev

# exclude specific domains from being managed
excludeDomains: []
