# https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/values.yaml

provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token-secret
        key: api-token

# limit to specific cloudflare zones
domainFilters:
  - eeternalsadness.dev

# exclude specific domains from being managed
excludeDomains: []

# workaround for traefik ingressroutes
sources:
  - service
  - ingress
  - traefik-proxy

# delete dns records when ingresses are deleted
policy: sync

rbac:
  create: true
  # additional rules to add to the ClusterRole
  additionalPermissions:
    - apiGroups: ["traefik.containo.us", "traefik.io"]
      resources: ["ingressroutes", "ingressroutetcps", "ingressrouteudps"]
      verbs: ["get", "watch", "list"]
