ingressRoute:
  dashboard:
    enabled: true
    annotations:
      gethomepage.dev/href: "https://traefik.homelab.eeternalsadness.dev"
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Traefik
      gethomepage.dev/group: Platform
      gethomepage.dev/icon: traefik.png
      gethomepage.dev/name: Traefik
      # health check
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=traefik"
      # external dns
      external-dns.alpha.kubernetes.io/target: "192.168.0.10"
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false" # whether to proxy through Cloudflare or not
    matchRule: Host(`traefik.homelab.eeternalsadness.dev`)
    entryPoints:
      - websecure
    tls:
      secretName: traefik-tls
providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
logs:
  general:
    format: json
    level: "WARN"
  access:
    enabled: false
    format: json
