ingressRoute:
  dashboard:
    enabled: true
    annotations:
      gethomepage.dev/href: "https://traefik.homelab.eeternalsadness.dev"
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Traefik
      gethomepage.dev/group: Platform
      #gethomepage.dev/icon: emby.png
      gethomepage.dev/name: Traefik
      # health check
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=traefik"
    matchRule: Host(`traefik.homelab.eeternalsadness.dev`)
    entryPoints:
      - websecure
    tls:
      secretName: traefik-tls
providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
logs:
  general:
    format: json
    level: "DEBUG"
  access:
    enabled: true
    format: json
