ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.homelab.eeternalsadness.dev`)
    entryPoints:
      - web
providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
