# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
service:
  enabled: true
  ## -- Single service is using `MixedProtocolLBService` feature gate.
  ## -- When set to false, it will create two Service, one for TCP and one for UDP.
  single: true
  type: LoadBalancer
  annotations:
    # pin IP address for metallb
    metallb.io/loadBalancerIPs: 192.168.0.10
    # create DNS record for the load balancer IP
    external-dns.alpha.kubernetes.io/hostname: traefik-lb.homelab.eeternalsadness.dev # name of DNS record
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false" # whether to proxy through Cloudflare or not

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      gethomepage.dev/href: "https://traefik.homelab.eeternalsadness.dev"
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Traefik
      gethomepage.dev/group: Platform
      gethomepage.dev/icon: traefik.png
      gethomepage.dev/name: Traefik
      # health check
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=traefik"
      # external dns
      external-dns.alpha.kubernetes.io/target: "traefik-lb.homelab.eeternalsadness.dev"
    matchRule: Host(`traefik.homelab.eeternalsadness.dev`)
    entryPoints:
      - websecure
    tls:
      secretName: traefik-tls

providers:
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web:
      namespacePolicy:
        from: All

logs:
  general:
    format: json
    level: "WARN"
  access:
    enabled: false
    format: json
