apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring
configMapGenerator:
  - name: alloy
    files:
      - config.alloy
    options:
      # NOTE: avoid rolling updates for alloy when config map is changed; use dynamic config with sidecar instead
      disableNameSuffixHash: true
